@model List<Lutador>;
@{
    ViewData["Title"] = "Torneio de Luta";
    var primeiroLutador = Model.First();
}

<h1 class="display-1 text-center">Torneio de Luta</h1>
<form asp-action="Resultado" method="get">

    <button type="text-center" class="btn btn-primary mb-1"> Iniciar Torneio </button>

</form>


<div class="card-deck">
    @foreach(var card in Model)
    {
        <div class="card bg-light mb-2">
            <div class="card-body text-center">
                <header class="card-header"> @card.Nome </header>
                <input class="mt-2" type="checkbox" />
                <p class="card-text"> <strong> Idade: </strong> @card.Idade </p>
                <p class="card-text"> <strong> Lutas: </strong> @card.Lutas </p>
                <p class="card-text"> <strong> Vitorias: </strong> @card.Vitorias</p>
                <p class="card-text"><strong> Derrotas: </strong> @card.Derrotas</p>
            </div>
        </div>   
    }  
</div>